body, html {
  width: 100%;
  height: 100%; }

section {
  width: 100%;
  text-align: center; }
  section .section-header {
    padding: 0px 80px 60px; }
    section .section-header .btn {
      margin-top: 30px; }
  section.info {
    padding: 60px 0; }
  section.white {
    background: #fff; }
  section.grey {
    background: #e6e7e8; }
  section.black {
    background: #231f20; }
    section.black h1, section.black p, section.black a {
      color: #fff; }
  section.photo {
    display: table; }
    section.photo .container {
      display: table-cell;
      vertical-align: middle;
      padding: 10%;
      text-align: center; }

.black-box {
  background: #231f20;
  display: table; }
  .black-box h1, .black-box p, .black-box a {
    color: #fff; }
  .black-box h1, .black-box p {
    margin-bottom: 15px; }
  .black-box .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.video-link {
  display: block; }
  .video-link .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../images/play-button.png") no-repeat center center;
    opacity: .7;
    z-index: 10;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .video-link .overlay:hover {
      background-color: rgba(0, 0, 0, 0.8);
      opacity: .9; }

#join-us {
  width: 380px;
  height: 135px; }
  #join-us h1 {
    margin-bottom: 0px; }
  #join-us p {
    padding: 0px;
    font-size: 18px;
    color: #808284; }

#header {
  background: url("../images/918F_Header_BG.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  #header .black-box {
    margin: auto; }
    #header .black-box .container {
      padding: 40px 0; }
    #header .black-box .ls-logo {
      display: block;
      margin: -10px auto 15px;
      height: 60px; }
    #header .black-box p {
      color: #808284;
      width: 75%;
      font-size: 18px;
      margin: 10px auto 0; }
    #header .black-box h3 {
      color: #fff;
      letter-spacing: 4px;
      margin-bottom: 10px;
      margin: auto; }

#speakeasy {
  background: url("../images/speakeasy.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 70%; }
  #speakeasy .black-box {
    width: 425px;
    padding: 40px;
    margin: auto; }
    #speakeasy .black-box span {
      color: #808284; }

ul.mosaic {
  list-style: none; }
  ul.mosaic li {
    float: left;
    margin-bottom: 20px;
    display: block; }
    ul.mosaic li img {
      display: block; }
    ul.mosaic li.left {
      margin-right: 20px; }

nav {
  width: 100%;
  background: #231f20;
  text-align: center; }
  nav .branding {
    padding: 20px 0 0 0px;
    margin: auto;
    max-height: 70px;
    overflow: hidden;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    nav .branding.hidden {
      max-height: 0;
      padding: 0;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    nav .branding h2 {
      color: #fff;
      display: inline;
      padding: 0 20px 0 0;
      font-size: 24px;
      vertical-align: top; }
    nav .branding img {
      height: 50px; }
  nav ul {
    list-style: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      padding: 20px; }
      nav ul li.selected {
        /*&:before{
          width: 0;
          height: 0;
          content: "";
          border-style: solid;
          border-width: 0 12.5px 10px 12.5px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          bottom: 0px;
          left: 50%;
          margin-left: -10px;
        }*/ }
        nav ul li.selected a {
          color: #fff; }
      nav ul li a {
        color: #808284;
        text-decoration: none; }
        nav ul li a:hover {
          color: #fff; }

.content {
  width: 940px;
  margin: auto;
  overflow: hidden; }
  .content div[class*="col"] {
    padding-right: 20px;
    float: left; }
    .content div[class*="col"].last {
      padding-right: 0; }
  .content .col1 {
    width: 100px; }
  .content .col2 {
    width: 220px; }
  .content .col3 {
    width: 340px; }
  .content .col4 {
    width: 460px; }
  .content .col5 {
    width: 580px; }
  .content .col6 {
    width: 700px; }
  .content .col7 {
    width: 820px; }
  .content .col8 {
    width: 940px;
    padding-right: 0; }

.drawer {
  max-height: 0;
  opacity: 0;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .drawer.expanded {
    opacity: 1;
    padding-top: 20px;
    max-height: 850px; }

#floor-plan {
  padding-left: 20px; }
  #floor-plan .placeholder {
    width: 100%;
    background: #262626;
    height: 180px;
    margin-bottom: 20px; }

#registration-form {
  margin: auto;
  padding: 40px;
  width: 684px;
  border: 2px solid #231f20; }
  #registration-form h1, #registration-form p {
    text-align: center; }
  #registration-form h1 {
    margin-bottom: 10px; }
  #registration-form p {
    margin-bottom: 20px; }
    #registration-form p.small {
      margin: 0;
      font-size: 14px; }
  #registration-form label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left; }
    #registration-form label span {
      color: #832e2f; }
  #registration-form input[type="text"], #registration-form textarea {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 10px;
    background: #fafafa;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%; }
  #registration-form input[type="text"] {
    height: 40px; }
  #registration-form textarea {
    resize: none; }
  #registration-form .center {
    width: 100%; }
  #registration-form .btn {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px; }
  #registration-form .half {
    width: 290px;
    margin-right: 20px;
    float: left; }
    #registration-form .half.last {
      margin-right: 0; }

.event-types {
  display: block;
  margin-bottom: 30px; }
  .event-types li {
    display: inline-block;
    width: 33%;
    padding: 20px;
    border-right: 1px solid #aeaeae; }
    .event-types li:last-child {
      border: none; }

.btn {
  padding: 10px 20px 8px;
  border: 2px solid #231f20;
  display: inline-block;
  letter-spacing: 2px;
  background: transparent; }
  .btn:hover {
    background: #231f20;
    color: #fff; }
  .btn.collapse {
    margin-top: 40px;
    padding: 0;
    width: 0;
    border: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 30px solid rgba(35, 31, 32, 0.6); }
    .btn.collapse:hover {
      background: transparent;
      border-bottom-color: #231f20; }

.social {
  margin: 30px auto; }
  .social li {
    display: inline-block;
    margin-right: 10px; }
    .social li:last-child {
      margin-right: 0; }
  .social a {
    display: block;
    opacity: .5;
    text-indent: -9999px;
    width: 30px;
    height: 32px;
    background: url(../images/social-icons.png) no-repeat 0 0; }
    .social a:hover {
      opacity: 1; }
    .social a.twitter {
      background-position: -45px 0; }
    .social a.instagram {
      background-position: -83px 0; }

.transportation {
  width: 60%;
  margin: 40px auto; }
  .transportation .parking {
    width: 50%;
    padding: 0 20px 20px;
    float: left; }
    .transportation .parking p {
      margin-bottom: 5px; }

#history img {
  float: left; }
#history p {
  float: left;
  width: 640px;
  padding-left: 40px;
  text-align: left;
  font-size: 20px;
  font-style: normal; }
#history h1 {
  text-align: left;
  padding-left: 340px; }

.fixed {
  position: fixed;
  top: 0;
  z-index: 100; }

#lean_overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none; }

#video-overlay {
  width: 740px;
  padding: 40px 40px; }

#signup-overlay {
  width: 540px;
  padding: 60px 40px; }

.modal-overlay {
  background: #fff;
 /*
.half{
  width: 320px;
  margin-right: 20px;
  float: left;
}
.full{
  width: 660px;
  float: left;
}
.third{
  width: 206px;
  margin-right: 21px;
  float: left;
}
.two-third{
  width: 433px;
  margin-right: 20px;
  float: left;
}
.quarter{
  width: 150px;
  margin-right: 20px;
}
.last{
    margin-right: 0px;
  }
h1,p{
  text-align: center;
}
h1{
  margin-bottom: 10px;
}*/ }
  .modal-overlay .modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px; }
  .modal-overlay p {
    padding-top: 5px; }
  .modal-overlay label {
    display: block;
    margin-bottom: 5px; }
    .modal-overlay label span {
      color: #832e2f; }
  .modal-overlay input[type="text"], .modal-overlay textarea {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 10px;
    background: #fafafa;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%; }
  .modal-overlay input[type="text"] {
    height: 40px; }
  .modal-overlay textarea {
    resize: none; }
  .modal-overlay .center {
    width: 100%; }
  .modal-overlay .btn {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px; }

.confirmation {
  opacity: 0;
  max-height: 0;
  -webkit-transition: opacity .5s .5s;
  -moz-transition: opacity .5s .5s;
  -ms-transition: opacity .5s .5s;
  -o-transition: opacity .5s .5s;
  transition: opacity .5s .5s;
  padding: 10px; }
  .confirmation.show {
    opacity: 1;
    max-height: 200px; }
  .confirmation h3 {
    padding-bottom: 0; }
