body,html{
  width: 100%;
  height: 100%;
}
section{
  width: 100%;
  text-align: center;
  .section-header{
    padding: 0px 80px 60px;
  }
  &.info{
    padding: 60px 0;
  }
  &.white{
    background: #fff;
  }
  &.grey{
    background: #e6e7e8;
  }
  &.black{
    background: #231f20;
    h1, p, a{
      color: #fff;
    }
  }
  &.photo{
    display: table;
    .container{
      display: table-cell;
      vertical-align: middle;
      padding: 10%;
      text-align: center;
    }
  }
}

.black-box{
  background: #231f20;
  display: table;
  h1, p, a{
    color: #fff;
  }
  h1, p{
    margin-bottom: 15px;
  }
  .container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
}

#join-us{
  width: 380px;
  height: 135px;
  h1{
    margin-bottom: 0px;
  }
  p{
    padding: 0px;
    font-size: 18px;
    color: #808284;
  }
}

#header{
  background: url('../images/918F_Header_BG.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  .black-box{
    margin: auto;
    //padding: 20px;
    .container{
      padding: 40px 0;
    }
    .ls-logo{
      display: block;
      margin: -10px auto 15px;
      height: 60px;
    }
    p{
      color: #808284;
      width: 75%;
      font-size: 18px;
      margin: 10px auto 0;
    }
    h3{
      color: #fff;
      letter-spacing: 4px;
      margin-bottom: 10px;
      //width: 75%;
      margin: auto;
    }
  }
}

#speakeasy{
  background: url('../images/speakeasy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;

  height: 70%;
  .black-box{
    width: 425px;
    padding: 40px;
    margin: auto;
  }
}

ul.mosaic{
  list-style: none;
  li{
    float: left;
    margin-bottom: 20px;
    display: block;
    img{
      display: block;
    }
    &.left{
      margin-right: 20px;
    }
  }
}

nav{
  width: 100%;
  background: #231f20;
  text-align: center;
  .branding{
    padding: 20px 0 0 0px;
    margin: auto;
    max-height: 70px;
    overflow: hidden;
    -webkit-transition: .5s;
    -moz-transition:    .5s;
    -ms-transition:     .5s;
    -o-transition:      .5s;
    transition:         .5s;
    &.hidden{
      max-height: 0;
      padding: 0;
      -webkit-transition: .5s;
      -moz-transition:    .5s;
      -ms-transition:     .5s;
      -o-transition:      .5s;
      transition:         .5s;
    }
    h2{
      color: #fff;
      display: inline;
      padding: 0 20px 0 0;
      font-size: 24px;
      vertical-align: top;
    }
    img{
      height: 50px;
    }
  }
  ul{
    list-style: none;
    text-align: center;
    li{
      display: inline-block;
      padding: 20px;
      &.selected{
        a{
          color: #fff;
        }
        &:before{
          width: 0;
          height: 0;
          content: "";
          border-style: solid;
          border-width: 0 12.5px 10px 12.5px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          bottom: 0px;
          left: 50%;
          margin-left: -10px;
        }
      }
      a{
        color: #808284;
        text-decoration: none;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

.content{
  width: 940px;
  margin: auto;
  overflow: hidden;
}

.event-types{
  display: block;
  margin-bottom: 30px;
  li{
    display: inline-block;
    width: 33%;
    padding: 20px;
    border-right: 1px solid #aeaeae;
    &:last-child{
      border: none;
    }
  }
}

.btn{
  padding: 10px 20px;
  border: 2px solid #231f20;
  display: inline-block;
  letter-spacing: 2px;
  &:hover{
    background: #231f20;
    color: #fff;
  }
}

.social{
  margin: 30px auto;
  li{
    display: inline-block;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    display: block;
    opacity: .5;
    text-indent: -9999px;
    width: 30px;
    height: 32px;
    background: url(../images/social-icons.png) no-repeat 0 0;
    &:hover{
      opacity: 1;
    }
    &.twitter{
      background-position: -45px 0;
    }
    &.instagram{
      background-position: -83px 0;
    }
  }
}

.transportation{
  width: 60%;
  margin: 40px auto;
  .parking{
    width: 50%;
    padding: 0 20px 20px;;
    float: left;
    p{
      margin-bottom: 5px;
    }
  }
}

#history{
  img{
    float: left;
  }
  p{
    float: left;
    width: 640px;
    padding-left: 40px;
    text-align: left;
    font-size: 20px;
    font-style: normal;
  }
}

.fixed{
  position: fixed;
  top: 0;
  z-index: 100;
}


