body,html{
  width: 100%;
  height: 100%;
}
section{
  width: 100%;
  text-align: center;
  .section-header{
    padding: 0px 80px 60px;
    .btn{
      margin-top: 30px;
    }
  }
  &.info{
    padding: 60px 0;
  }
  &.white{
    background: #fff;
  }
  &.grey{
    background: #e6e7e8;
  }
  &.black{
    background: #231f20;
    h1, p, a{
      color: #fff;
    }
  }
  &.photo{
    display: table;
    .container{
      display: table-cell;
      vertical-align: middle;
      padding: 10%;
      text-align: center;
    }
  }
}

.black-box{
  background: #231f20;
  display: table;
  h1, p, a{
    color: #fff;
  }
  h1, p{
    margin-bottom: 15px;
  }
  .container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
}

.video-link{
  display: block;
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/play-button.png') no-repeat center center;
    opacity: .7;
    z-index: 10;
    -webkit-transition: .5s;
    -moz-transition:    .5s;
    -ms-transition:     .5s;
    -o-transition:      .5s;
    transition:         .5s;  
    &:hover{
      background-color: rgba(0,0,0,.8);
      opacity: .9;
    }
  }
}

#join-us{
  width: 380px;
  height: 135px;
  h1{
    margin-bottom: 0px;
  }
  p{
    padding: 0px;
    font-size: 18px;
    color: #808284;
  }
}

#header{
  background: url('../images/918F_Header_BG.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  .black-box{
    margin: auto;
    //padding: 20px;
    .container{
      padding: 40px 0;
    }
    .ls-logo{
      display: block;
      margin: -10px auto 15px;
      height: 60px;
    }
    p{
      color: #808284;
      width: 75%;
      font-size: 18px;
      margin: 10px auto 0;
    }
    h3{
      color: #fff;
      letter-spacing: 4px;
      margin-bottom: 10px;
      //width: 75%;
      margin: auto;
    }
  }
}

#speakeasy{
  background: url('../images/speakeasy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;

  height: 70%;
  .black-box{
    width: 425px;
    padding: 40px;
    margin: auto;
    span{
      color:#808284;
    }
  }
}

ul.mosaic{
  list-style: none;
  li{
    float: left;
    margin-bottom: 20px;
    display: block;
    img{
      display: block;
    }
    &.left{
      margin-right: 20px;
    }
  }
}

nav{
  width: 100%;
  background: #231f20;
  text-align: center;
  .branding{
    padding: 20px 0 0 0px;
    margin: auto;
    max-height: 70px;
    overflow: hidden;
    -webkit-transition: .5s;
    -moz-transition:    .5s;
    -ms-transition:     .5s;
    -o-transition:      .5s;
    transition:         .5s;
    &.hidden{
      max-height: 0;
      padding: 0;
      -webkit-transition: .5s;
      -moz-transition:    .5s;
      -ms-transition:     .5s;
      -o-transition:      .5s;
      transition:         .5s;
    }
    h2{
      color: #fff;
      display: inline;
      padding: 0 20px 0 0;
      font-size: 24px;
      vertical-align: top;
    }
    img{
      height: 50px;
    }
  }
  ul{
    list-style: none;
    text-align: center;
    li{
      display: inline-block;
      padding: 20px;
      &.selected{
        a{
          color: #fff;
          //border-bottom: 2px solid #fff;
        }
        /*&:before{
          width: 0;
          height: 0;
          content: "";
          border-style: solid;
          border-width: 0 12.5px 10px 12.5px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          bottom: 0px;
          left: 50%;
          margin-left: -10px;
        }*/
      }
      a{
        color: #808284;
        text-decoration: none;
        //padding-bottom: 5px;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

.content{
  width: 940px;
  margin: auto;
  overflow: hidden;
  div[class*="col"]{
    padding-right: 20px;
    float: left;
    &.last{
      padding-right: 0;
    }
  }
  .col1{
    width: 100px;
  }
  .col2{
    width: 220px;
  }
  .col3{
    width: 340px;
  }
  .col4{
    width: 460px;
  }
  .col5{
    width: 580px;
  }
  .col6{
    width: 700px;
  }
  .col7{
    width: 820px;
  }
  .col8{
    width: 940px;
    padding-right: 0;
  }
}

.drawer{
  max-height: 0;
  opacity: 0;
  -webkit-transition: .5s;
  -moz-transition:    .5s;
  -ms-transition:     .5s;
  -o-transition:      .5s;
  transition:         .5s;
  &.expanded{
    opacity: 1;
    padding-top: 20px;
    max-height: 850px;
  }
}


#floor-plan{
  padding-left: 20px;

  .placeholder{
    width: 100%;
    background: #262626;
    height: 180px;
    margin-bottom: 20px;
  }
}
#registration-form{
  margin: auto;
  padding: 40px;
  width: 684px;
  border: 2px solid #231f20;
  h1,p{
    text-align: center;
  }
  h1{
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 20px;
    &.small{
      margin: 0;
      font-size: 14px;
    }
  }
  label{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    span{
      color: #832e2f;
    }
  }
  input[type="text"], textarea{
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 10px;
    background: #fafafa;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
  }
  input[type="text"]{
    height: 40px;
  }
  textarea{
    resize: none;
  }
  .center{
    width: 100%;
  }
  .btn{
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .half{
    width: 290px;
    margin-right: 20px;
    float: left;
    &.last{
      margin-right: 0;
    }
  }

}

.event-types{
  display: block;
  margin-bottom: 30px;
  li{
    display: inline-block;
    width: 33%;
    padding: 20px;
    border-right: 1px solid #aeaeae;
    &:last-child{
      border: none;
    }
  }
}

.btn{
  padding: 10px 20px 8px;
  border: 2px solid #231f20;
  display: inline-block;
  letter-spacing: 2px;
  background: transparent;
  &:hover{
    background: #231f20;
    color: #fff;
  }
  &.collapse{
    margin-top: 40px;
    padding: 0;
    width: 0;
    border: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 30px solid rgba(35,31,32,.6);
    &:hover{
      background: transparent;
      border-bottom-color: rgba(35,31,32,1);
    }
  }
}

.social{
  margin: 30px auto;
  li{
    display: inline-block;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    display: block;
    opacity: .5;
    text-indent: -9999px;
    width: 30px;
    height: 32px;
    background: url(../images/social-icons.png) no-repeat 0 0;
    &:hover{
      opacity: 1;
    }
    &.twitter{
      background-position: -45px 0;
    }
    &.instagram{
      background-position: -83px 0;
    }
  }
}

.transportation{
  width: 60%;
  margin: 40px auto;
  .parking{
    width: 50%;
    padding: 0 20px 20px;;
    float: left;
    p{
      margin-bottom: 5px;
    }
  }
}

#history{
  img{
    float: left;
  }
  p{
    float: left;
    width: 640px;
    padding-left: 40px;
    text-align: left;
    font-size: 20px;
    font-style: normal;
  }
  h1{
    text-align: left;
    padding-left: 340px;
  }
}

.fixed{
  position: fixed;
  top: 0;
  z-index: 100;
}

#lean_overlay{
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6);
  display: none;
}

#video-overlay{
  width: 740px;
  padding: 40px 40px;
}

#signup-overlay{
  width: 540px;
  padding: 60px 40px;
}
.modal-overlay{
  background: #fff;
  .modal-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
  }/*
  .half{
    width: 320px;
    margin-right: 20px;
    float: left;
  }
  .full{
    width: 660px;
    float: left;
  }
  .third{
    width: 206px;
    margin-right: 21px;
    float: left;
  }
  .two-third{
    width: 433px;
    margin-right: 20px;
    float: left;
  }
  .quarter{
    width: 150px;
    margin-right: 20px;
  }
  .last{
      margin-right: 0px;
    }
  h1,p{
    text-align: center;
  }
  h1{
    margin-bottom: 10px;
  }*/
  p{
    padding-top: 5px;
  } 
  label{
    display: block;
    margin-bottom: 5px;
    span{
      color: #832e2f;
    }
  }
  input[type="text"], textarea{
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 10px;
    background: #fafafa;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
  }
  input[type="text"]{
    height: 40px;
  }
  textarea{
    resize: none;
  }
  .center{
    width: 100%;
  }
  .btn{
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

}


