body {
  font-family: 'proxima nova soft', 'helvetica neue', helvetica, arial, sans-serif; }

p {
  font-family: georgia, serif;
  font-style: italic;
  color: #808284;
  line-height: 1.3em; }
  p.address {
    font-style: normal;
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.4em; }
    p.address a {
      font-style: normal; }
  p.links {
    font-style: normal;
    font-family: 'proxima nova soft', 'helvetica neue', helvetica, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; }
    p.links a {
      margin: 0 10px;
      padding-bottom: 2px; }
      p.links a:hover {
        border-bottom: 1px solid #fff; }

a {
  text-decoration: none; }

nav ul li a {
  text-transform: uppercase;
  letter-spacing: 1px; }

h1, h2, h3, h4, h5, h6, .btn {
  text-transform: uppercase;
  font-weight: normal;
  color: #262626; }

h1 {
  font-size: 28px;
  letter-spacing: 4px;
  margin-bottom: 20px; }
  h1 ~ p {
    font-size: 18px; }

h2 {
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  color: #fff; }

h3 {
  font-size: 17px;
  padding-bottom: 10px; }

.btn {
  font-size: 17px; }

.black-box h1 ~ p {
  font-size: 18px; }
